<!DOCTYPE html>
<html ng-app="home">

    <head>
        <meta charset="utf-8"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- CSS custom -->
        <link href="resources/theme/css/style.css" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <script src="resources/theme/js/bootstrap.min.js"></script>
        <script src="resources/theme/js/home.js"></script>
        <script src="resources/theme/js/home.controller.js"></script>
        <script src="resources/theme/js/home.factory.js"></script>
    </head>
    <body ng-controller="homeController" >

        <div class="container">
            <div class='container' style="width: 50%">
                <input type='text' class="form-control" ng-model="procurar" />    
            </div>

            <table class="table" ng-table="tablePagginator" show-filter="true">
                <thead>
                <th><a href="#" ng-click="sortType = 'id'">Código</a></th>
                <th><a href="#" ng-click="sortType = 'nome'">Nome</a></th>
                <th><a href="#" ng-click="sortType = 'descricao'">Descrição</a></th>
                <th><a href="#" ng-click="sortType = 'valor'">Valor</a></th>
                <th>Quantidade</th>
                <th>Opções</th>
                </thead>

                <tbody ng-repeat="produto in produtos| orderBy:sortType:sortReverse | filter:procurar">
                <td>{{produto.id}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.valor}}</td>
                <td>{{produto.quantidade}}</td>
                <td><button class="btn btn-sm btn-danger" id="delete" ng-click="removerProduto(produto.id)">Remover</button></td>
                </tbody>
            </table>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <center>
                        <div class="circle"></div>
                        <p class="lead" style="color: #0275d8">Essa operação pode levar alguns minutos. Pro favor aguarde...</b></lead>    
                    </center>    

                </div>
            </div>


            <div class="panel panel-default" style="width: 70%">
                <div class="panel-body">
                    <h4>Cadastro</h4>
                    <div class="container-fluid">
                        <form ng-submit="addProduto()">
                            <div class="form-group">
                                <label for="nome">Nome do Produto</label>
                                <input id="nome" class="form-control" type="text" ng-model="novoProduto.nome">    
                            </div>
                            <div class="form-group">
                                <label for="descricao">Descrição do produto</label>
                                <input id="descricao" class="form-control" type="text" ng-model="novoProduto.descricao">
                            </div> 

                            <div class="form-group">
                                <label for="imagem">Url da imagem do produto</label>
                                <input id="imagem" class="form-control" type="text" ng-model="novoProduto.imagem">
                            </div>
                            <div class="form-group">
                                <label for="quantidade">Quantidade em estoque</label>
                                <input id="quantidade" class="form-control" type="number" ng-model="novoProduto.quantidade">
                            </div>

                            <button type="submit" class="btn btn-success btn-sm"> Confirmar</button>
                            <a  class="btn btn-default btn-sm" href="#" ng-click="removerProduto(1)"> Cancelar</a>
                        </form>  
                    </div> 
                </div>
            </div>
        </div>

    </body>
</html>
